{% if page == 'profile' %}
    <h3> Rooms </h3>
{% endif %}
{% for room in rooms %}
            <div>
                
                {% if request.user.id == room.host.id %}
                    <a href="{% url 'update-room' room.id %}">Edit</a>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
                <br>
                <a href="{% url 'room' room.id %}">{{room.names}}</a>
                <br>
                <small>{{room.topic.name}}</small>
                <hr>
            </div>
{%endfor%}