{% extends 'Main.html' %}
{%block content%}

{% load static %}

<h1> Welcome to Home </h1>
<div class="home-container">
    <div>
       {% include 'base/topics_component.html' %}
    </div>
    <div>
        <a href="{% url 'create-room' %}">Create Room</a>
        <h5> {{room_count}} rooms are available </h5>
        <div>
            {% include 'base/feed_component.html'%}
        </div>
    </div>
    <div class="Activityfeed-Wrapper">
      {% include 'base/activity_component.html' %}
    </div>

</div>
{%endblock%} 